@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cal+Sans&family=Moderustic:wght@300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
  font-family: 'Sh Ad Grotesk';
  src: url('./assets/fonts/ShAdGrotesk-Medium.woff2') format('woff2'),
       url('./assets/fonts/ShAdGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Sh Ad Grotesk', sans-serif, 'Inter';
}

@font-face {
  font-family: 'Awesome Serif';
  src: url('/fonts/AwesomeSerif-Italic-VAR.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
